<p><%= flash[:message] %></p>
<p><%= flash[:error] %></p>

<%= react_component('Programs', programs: @programs) %>

<!-- <p>this 'programs' component should only show up if you're an admin</p>

<p>otherwise, just render a regular programs component that will show programs and let user sort based on title, network, air day, genre, etc.</p>
 -->
