%div
  %h1 Welcome to TV Club!
  %h2 A place for all things television.
  %p  
    If you're here, it means you love TV as much as we do!  Come make lists to keep track of your favorite shows, see what other people are watching, and get the latest news.  Have questions about the site?  Check out our github repo
    %a{:href => "http://github.com/sleepingarmy/tv_club"} here!


