// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-header {
  background-image: url("tv_club_logo.png");
  background-color: #ebebeb;
  min-height: 75%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
}